/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #14213D; */
    /* background-color: #564D65; */
    background-color: #E5E5E5;
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-style: normal;
    letter-spacing: 0.02rem;
    font-weight: 300;
    color: #363845;
    line-height: 1.2;
}

/* Style the 'Skip Content' button */
.skip button {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}
/* flip card, add tab index to every card */
.skip button {
    position: absolute;
    top: -40px;
}

.skip button:focus {
    position: absolute;
    top: 20px;
}

:focus {
    border: solid;
    border-width: 2px;
}

.currentPage:focus {
    border: solid;
    border-width: 2px;
    /* border-bottom-width: 0px; */
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        /* sets to default setting */
        transition: none;
        /* sets to default setting */
    }

    /*Turn off parallax*/
    header {
        background-attachment: initial;
    }
}

h2 {
    margin-bottom: 500px;
}

/* Top of Page Styling */

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

.site_title {
    font-size: 36px;
    color: #D90368;
    margin: 0px 20px;
}

body header {
    position: sticky;
    top: 0;
}

header {
    background-color: black;
}

/* Nav Bar Styling */

nav {
    /* position: sticky; */
    width: 100%;
    top: 40px;
    overflow: hidden;
    background-color: black;
    text-transform: uppercase;
}

.nav_links {
    color: #E5E5E5;
    display: flex;
    justify-content: center;
}

nav a {
    /* float: right; */
    display: inline-block;
    color: #E5E5E5;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 4px solid transparent;
}

nav a:hover {
    border-bottom: 4px #E5E5E5 solid;
}

.currentPage {
    border-bottom: 4px #FE7F2D solid;
    /* background-color: #333333; */
}

/* Main Content Styling */

main {
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.home-page .home-section:last-of-type {
    padding-bottom: 0;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 30px; */
    padding-bottom: 70px;
}

.home-section p {
    width: min(80%, 800px);
    padding-top: 40px;
}

.home-section .title {
    color: white;
    margin: 0px;
}

.home-image-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 30px;
}

.home-image-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home-image-banner {
    width: 100%;
    height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-image-banner::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 230px;
    backdrop-filter: blur(5px);
}

.embed-video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 30px;
}

.embed-video-container iframe {
    padding: 20px;
    width: 450px;
    /* height: 225px; */
    aspect-ratio: 16 / 9;
}

/* Different Home Page Banners */

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.50)), url('../imgs/about_2.png');
}

#why {
    background-image: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.623)), url('../imgs/why_1.png');
}

#how {
    background-image: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.623)), url('../imgs/how_1.jpg');
}

.title {
    display: block;
    color: #D90368;
    font-size: 110px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.4rem;
    font-weight: 300;
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.main-paragraph {
    color: black;
    text-align: center;
    font-size: 30px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-group img {
    padding: 20px;
    /* width: 400px; */
    width: min(400px, 90%);
    height: auto;
}

.image-group-text {
    width: 100%;
}

.image-group p {
    text-align: center;
    font-size: 20px;
}

.image-group-text-extra {
    display: none;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

.gallery-grid .image-group {
    max-width: 500px;
}

/* Footer Styling */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
}

.footer-links a,
.footer-links p {
    padding: 10px;
    text-decoration: none;
    color: #E5E5E5;
}

/* Tablet Display Styling */
@media screen and (min-width: 700px) {
    .header_content {
        justify-content: flex-start;
    }

    .nav_links {
        display: flex;
        justify-content: flex-start;
    }

    /* "How" section styling */

    .embed-video-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .embed-video-container iframe {
        width: min(44%, 350px);
        /* height: auto; */
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image-group {
        width: 100%;
        flex-direction: row;
    }

    .image-group img {
        width: 275px;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-grid .image-group {
        max-width: 90%;
    }
}

/* Laptop+ Display Styling */
@media screen and (min-width: 1100px) {
    main {
        flex-direction: column;
    }

    .embed-video-container {
        flex-wrap: nowrap;
    }

    .embed-video-container iframe {
        width: min(44%, 480px);
        /* height: auto; */
    }

    .gallery {
        justify-content: flex-start;
    }

    .image-group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .image-group img {
        width: 480px;
    }

    .image-group p {
        text-align: left;
        font-size: 20px;
    }

    .image-group ul {
        padding: 12px 0px 12px 16px;
        padding-left: 16px;
    }

    .image-group ul li {
        padding: 3px 0px;
    }

    .image-group-text-extra {
        display: inline;
    }

    .image-group-text>p {
        font-size: 45px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    /* Showcase gallery-grid Styling */

    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-grid div:nth-child(3n - 2) {
        grid-column: 1 / span 3;
    }

    .gallery-grid .image-group img {
        width: 400px;
    }

    .gallery-grid .image-group p {
        text-align: center;
    }

    .gallery-grid .image-group {
        flex-direction: column;
        align-items: center;
    }
}