/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #14213D; */
    /* background-color: #564D65; */
    background-color: #E5E5E5;
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-style: normal;
    letter-spacing: 0.02rem;
    font-weight: 300;
    color: #363845;
}

/* Style the 'Skip Content' button */
.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

:focus {
    border: solid;
    border-width: 2px;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        /* sets to default setting */
        transition: none;
        /* sets to default setting */
    }

    /*Turn off parallax*/
    header {
        background-attachment: initial;
    }
}

h2 {
    margin-bottom: 500px;
}

/* Top of Page Styling */

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

.site_title {
    font-size: 36px;
    color: #D90368;
    margin: 0px 20px;
}

body header {
    position: sticky;
    top: 0;
}

header {
    background-color: black;
}

/* Nav Bar Styling */

nav {
    /* position: sticky; */
    width: 100%;
    top: 40px;
    overflow: hidden;
    background-color: black;
    text-transform: uppercase;
}

.nav_links {
    display: flex;
    justify-content: center;
}

nav a {
    /* float: right; */
    display: inline-block;
    color: #E5E5E5;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 4px solid transparent;
}

nav a:hover {
    border-bottom: 4px #E5E5E5 solid;
}

.currentPage {
    border-bottom: 4px #FE7F2D solid;
    /* background-color: #333333; */
}

/* Main Content Styling */

main {
    margin-bottom: 5rem;
}

.title {
    display: block;
    color: #D90368;
    font-size: 90px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.4rem;
    font-weight: 300;
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.main-paragraph {
    color: black;
    text-align: center;
    font-size: 30px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gallery img {
    /* border: 3px solid #FFF; */
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-group img {
    padding: 20px;
    width: 400px;
    height: auto;
}

.image-group p {
    text-align: center;
}

.image-group-text-extra {
    display: none;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* Footer Styling */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100px;
}

.footer-links {
    display: flex;
    justify-content: center;
    color: #E5E5E5;
}

.footer-links a, .footer-links p {
    padding: 10px;
    text-decoration: none;
    color: #E5E5E5;
}

/* Tablet Display Styling */
@media screen and (min-width: 700px) {
    .header_content {
        justify-content: flex-start;
    }

    .nav_links {
        display: flex;
        justify-content: flex-start;
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image-group {
        width: auto;
    }

    .image-group img {
        width: 300px;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Laptop+ Display Styling */
@media screen and (min-width: 1100px) {
    .gallery {
        justify-content: flex-start;
    }

    .image-group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .image-group img {
        width: 550px;
    }

    .image-group p {
        text-align: left;
        font-size: 20px;
    }

    .image-group ul {
        padding: 12px 0px 12px 16px;
        padding-left: 16px;
    }

    .image-group ul li {
        padding: 3px 0px;
    }

    .image-group-text {
        padding-top: 25px;
    }

    .image-group-text-extra {
        display: inline;
    }

    .image-group-text>p {
        font-size: 45px;
        padding-bottom: 50px;
    }
}